<ion-header>
  <ion-toolbar  class='main' color='main'>
    
    <ion-title class='txt' color='txt'>
      <ion-icon name="wallet-outline"></ion-icon>
 Agregar Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label  position='floating' class='lab'><ion-icon name="happy-outline"></ion-icon>Nombre: </ion-label>
    <ion-input [(ngModel)]='borrador1' value={{nombre}} [(ngModel)]=nombre></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position='floating' class='lab'><ion-icon name="call-outline"></ion-icon>Teléfono: </ion-label>
  <ion-input [(ngModel)]='borrador2' type='number' value={{telefono}} [(ngModel)]=telefono></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position='floating' class='lab'><ion-icon name="mail-open-outline"></ion-icon>E-mail: </ion-label>
  <ion-input [(ngModel)]='borrador3' type='email' value={{email}} [(ngModel)]=email></ion-input>
  </ion-item>
  
  <ion-item>
  
    <ion-label position='floating' class='lab'><ion-icon name="receipt-outline"></ion-icon>Notas: </ion-label>
    <ion-input [(ngModel)]='borrador4' value={{notas}} [(ngModel)]=notas></ion-input>
  </ion-item>
  <ion-button class='btn' (click)=guardar(nombre,telefono,email,notas)>
    <ion-icon name="person-add-outline"></ion-icon>
  </ion-button>
</ion-content>
